# Dependency directories
node_modules/

# Environment variables
.env

# Firebase service account key (sensitive credentials)
couplecode-e645d-firebase-adminsdk-fbsvc-42dae333a8.json

couplecode-35a9e-firebase-adminsdk-fbsvc-3a1e7408e4.json